@charset "utf-8";

/* Body Elements
==============================================================================*/
	body {
		font:80%/145% Verdana, Helvetica, sans-serif;
		/*font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;*/
		}
		
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding:0;
	}
		
		
/* Layout Elements
==============================================================================*/


/* Header
==============================================================================*/

	#header	{
		padding:0;
		margin:0 10px;		
	}

	#logo	{
		padding: 3px 5px;
		margin: 3px 0;
	}
	
	#headerlinks	{
		text-align:right;
		padding:5px 20px 3px 5px;
		margin:0 10px 3px 5px;
		font-weight:bold;
		font-size:70%;	
	}


/* PrimaryNav (alternative nav from tabs)
==============================================================================*/

	/*#primaryNav	{
		text-align:center;
		font-size:85%;
		margin:10px;
		padding:5px;
	}

	#primaryNav ul {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
		}
	
	#primaryNav li {
		display:inline;
		margin:0;
		padding:0;
		}
	
	#primaryNav li a, #primaryNav .currentSection {
		padding:5px 10px;
		text-decoration:none;
		font-weight:bold;
		}
	
	#primaryNav li a, #primaryNav .currentSection {
		padding:5px 10px;
		text-decoration:none;
		font-weight:bold;
		}*/


/* BreadCrumbs
==============================================================================*/

	#breadCrumb {
		padding: 3px;
		margin-bottom: 25px;
		font-size:75%;
		}
	
	#breadCrumb ul {
		margin-left: 3px;
		padding-left: 0;
		display: inline;
		border: none;
		} 
	
	#breadCrumb ul li {
		margin-left: 0;
		padding-left: 2px;
		border: none;
		list-style: none;
		display: inline;
		}



/* Page
==============================================================================*/

	#pageContainer	{
		padding:0 10px;
		margin:0 10px;
	}

	#pageContent-A, #pageContent-B {
		padding:0 5px;
		margin:0 5px 20px 5px;
	}


/* CategoryNav
==============================================================================*/

	#categoryNavContent h1	{
		margin-top: 10px;
		padding: 5px 5px 5px 10px; 
		font: bold 1.1em Verdana, Helvetica, sans-serif;
	}

	#categoryNavContent h1 a	{
		text-decoration:none;
	}

	#categoryNavContent ul.categories	{
		list-style: none;
		text-align: left;
		margin: 7px 4px 8px 0; padding: 0;
		text-decoration: none;
	}

	#categoryNavContent ul.categories li	{
		list-style: none;
		padding: 4px 0 4px 15px;
		margin: 0 2px;
	}

	* html body #categoryNavContent ul.categories li {
		height: 1%;
	}

	#categoryNavContent ul.categories li a {
		text-decoration: none;	
	}



/* Page Sections
==============================================================================*/

	div.featuredItem	{
		width:240px;
		float:left;
		padding:0;
		margin:5px;
		display:inline;
		min-height:135px;
	}

	div.featuredItem img	{
		float:left;
		padding:3px 10px 0 5px;
		margin:5px 3px 40px 3px;
	}

	div.featuredItem p	{
		padding:5px 3px;
		margin:0 5px;
		font-size:75%;
		line-height:12px;
	}	
	

/* Page Sections (Category & Page Display)
==============================================================================*/

	#categoryList	{
		display:inline;
		text-align:center;
		font-size:90%;
		margin:0 auto;
	}

	#categoryList .thumbnail	{
		float:left;
		margin:0 5px 5px 0;
		border:1px solid #f1f1f1;
		text-align:center;
		width:170px;
		min-height:230px;
	}

	#categoryList .thumbnail img	{
		margin:5px 0 0 5px;
	}
	
	#categoryList .thumbnail p	{
		margin:0;
		padding:0 5px 5px 5px;
	}
	
	#categoryList .thumbnail p a	{
		font-weight:bold;
	}
	
	#productDisplay	{
	
	}
	
	#showProductImage-A, #showProductImage-B	{
		margin: 0 auto;
		padding:10px;
		text-align:center;
	}
	
	#productShowOptions-A, #productShowOptions-B	{
		padding:5px 10px;
		margin:0;	
	}

	#productExtras	{
		padding:10px;
		margin:10px 0;
	}
	
	#productExtrasContent	{
		margin:0;
		padding:0 5px;
	}


	#column-A, #column-B	{
		width:45%;
		margin:0;
		padding:0 20px 0 0;
	}
	
	.myaccount	{
		padding:5px;
		cursor:pointer;
		cursor:hand;
	}
	
	table	{
		font-size:94%;
	}	
	

/* Page Section Links
==============================================================================*/

	#pageContainer a, #copyright a	{
		text-decoration:none;
	}
	
	#pageContainer a:hover, #copyright a:hover	{
		text-decoration:underline;
	}


/* Page Sections (Cart)
==============================================================================*/
	
	/*#cartTable	{
		width:100%;
		padding:0;
		margin:0;
	}

	#cartTable tr.row0 td, #cartTable tr.row1 td	{
		padding:5px;
		font-size:80%;
	}*/
	
	.cartLayoutTable	{
		width:100%;
		padding:0;
		margin:0;
	}

	tr.row0 td, tr.row1 td	{
		padding:5px;
		font-size:80%;
	}
	
	.cartImage	{
		padding:0 0 10px 0;
	}

/* Pagination
==============================================================================*/

	#pagination {
		padding: 4px 2px 4px 7px;
		border: 1px solid #ddd;
		margin: 0 0 1.5em;
		}
	#pagination p {
		position:relative;
		text-align:right;
		}
	#pagination p a:link, #pagination p a:visited, #pagination p a:hover, #pagination p a:active {
		padding:2px 5px;
		}
	#pagination p span {
		padding:2px 5px;
		}
	#pagination * {
		margin:0;
		}
	#pagination h4 {
		margin-top:-1.45em;
		padding:0;
		border:none;
		}



/* Footer & Copyright
==============================================================================*/


	#footer	{
		text-align:center;	
	}
	
	#copyright	{
		font-size:75%;		
	}
	
	#copyright ul	{
		display:inline;
	}
	
	#copyright li, #copyright li a	{
		display:inline;
		list-style:none;
		padding:0 5px 0 0;
	}
	
	
/* Misc
==============================================================================*/

	.clear	{
		clear:both;
	}
	
	img {
		border:0;
		}
		
	img.left {
		float:left;
		margin:3px 10px 10px 0;
		}
	img.right {
		float:right;
		margin:3px 0 10px 7px;
		}


	.cfErrorMsg	{
		padding:10px;
		text-align:center;
		margin:0 auto;
	}
		

/* Form
==============================================================================*/

	#formContainer	{
		margin: 0 0 1.5em;
		font-size:96%;
		font-family:Arial, Helvetica, sans-serif;
		display:inline;
	}

	#formContainer input {
		margin: 2px 0;
	}
	
	#formContainer fieldset {
		border: none;
	}
	
	#formContainer label {
		display: block;
		padding: 5px 0;
	}
	
	#formContainer label br {
		clear:left;
	}

	.loopForms	{
	 	width:50%;
		float:left;
	}

/* FORMS - general classes */
	input.f-submit {
		padding: 1px 3px;
		font-weight:bold;
		font-size:96%;
	}
	
/* FORMS - f-wrap-1 - simple form, headings on left, form elements on right */
	.f-wrap-1 {
		width:98%;
		padding: .5em 0;
		position:relative;
	}
		
		.f-wrap-1 fieldset {
			width:auto;
			margin: 0 1em;
		}
		
		.f-wrap-1 h3 {
			margin:0 0 .6em;
			font: bold 155% arial;
			color:#c00;
		}
		
		.f-wrap-1 label {
			clear:left;
			float:left;
			width:100%;
		}
		
		/* hide from IE mac \*/
		.f-wrap-1 label {float:none}
		/* end hiding from IE5 mac */
	
		.f-wrap-1 label input, .f-wrap-1 label textarea, .f-wrap-1 label select {
			width:15em;
			float:left;
			margin-left:0;
		}
		
		.f-wrap-1 label b {
			float:left;
			width:8em;
			line-height: 1.7;
			display:block;
			position:relative;
		}
		
		.f-wrap-1 label b .req {
			font-size:150%;
			font-weight:normal;
			position:absolute;
			top:-.1em;
			line-height:1;
			left:-.4em;
			width:.3em;
			height:.3em;
		}
		
		.f-wrap-1 div.req {
			font-size:96%;
			font-weight:normal;
			position:absolute;
			top:.4em;
			right:.4em;
			left:auto;
			width:13em;
			text-align:right;
		}
		
		.f-wrap-1 div.req b {
			font-size:140%;
		}
		
		.f-wrap-1 label select {
			width: 15.5em;
		}
		
		.f-wrap-1 label textarea.f-comments {
			width: 20em;
		}
		
		.f-wrap-1 div.f-submit-wrap {
			padding: 5px 0 5px 8em;
		}
		
		.f-wrap-1 input.f-submit {
			margin: 0 0 0 10px;
		}
		
		.f-wrap-1 fieldset.f-checkbox-wrap, .f-wrap-1 fieldset.f-radio-wrap {
			clear:left;
			float:left;
			width:32em;
			border:none;
			margin:0;
			padding-bottom:.7em;
		}
		
		.f-wrap-1 fieldset.f-checkbox-wrap b, .f-wrap-1 fieldset.f-radio-wrap b {
			float:left;
			width:8em;
			line-height: 1.7;
			display:block;
			position:relative;
			padding-top:.3em;
		}
		
		.f-wrap-1 fieldset.f-checkbox-wrap fieldset, .f-wrap-1 fieldset.f-radio-wrap fieldset {
			float:left;
			width:13em;
			margin: 3px 0 0 10px;
		}
		
		.f-wrap-1 fieldset.f-checkbox-wrap label, .f-wrap-1 fieldset.f-radio-wrap label {
			float:left;
			width:13em;
			border:none;
			margin:0;
			padding:2px 0;
			margin-right:-3px;
		}
		
		.f-wrap-1 label input.f-checkbox, .f-wrap-1 label input.f-radio {
			width:auto;
			float:none;
			margin:0;
			padding:0;
		}
		
		.f-wrap-1 label span.errormsg {
			position:absolute;
			top:0;
			right:-10em;
			left:auto;
			display:block;
			width:16em;
		}
		
		.f-wrap-1 label span.errormsg b {
			padding: 10px 0;
			margin: 0 10px 0 30px;
			font-weight:bold;
			display:block;
			width:auto;
			float:none;
			line-height:1.3;
		}

/* End Forms */


	#productShowOptions-A input, #productShowOptions-B input	{
		font-size: 75%;
		text-align:right;
	}
	
	#pageContainer form {
		margin:10px; padding: 0 5px;
	}
	
	#pageContainer label {
		display:block;
		font-weight:bold;
		margin:5px 0;
	}
	
	#pageContainer input, #pageContainer select {
		padding:2px;
		font: normal 1em Verdana, sans-serif;
	}
	
	#pageContainer textarea {
		width:400px;
		padding:2px;
		font: normal 1em Verdana, sans-serif;
		height:100px;
		display:block;
	}
	
	#pageContainer input.button {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:91%;
		/*height: 24px;*/
		margin: 0;
		padding: 2px 3px; 
	}	

/* ColorTabs For PrimaryNav & Product Extra Tabs
==============================================================================*/

	#primaryNavTabs, #productExtrasHeaders	{
		padding: 0;
		voice-family: "\"}\"";
		voice-family: inherit;
	}

	#primaryNavTabs	{
		margin-right:11px;
		float:right;
		padding-right: 5px;
	}
	
	#productExtrasHeaders	{
		margin-left: 1px;
		width: 100%;
		padding-left: 5px;
	}
	
	#primaryNavTabs ul, #productExtrasHeaders ul	{
		font: bold 11px Arial, Verdana, sans-serif;
		margin:0;
		padding:0;
		list-style:none;
	}
	
	#primaryNavTabs li, #productExtrasHeaders li	{
		display:inline;
		margin:0 2px 0 0;
		padding:0;
		text-transform:uppercase;
	}
	
	
	#primaryNavTabs a, #productExtrasHeaders a	{
		float:left;
		margin:0 2px 0 0;
		padding:0 0 1px 3px;
		text-decoration:none;
		letter-spacing: 1px;
	}
	
	#primaryNavTabs a span, #productExtrasHeaders a span	{
		float:left;
		display:block;
		padding:4px 9px 2px 6px;
	}
	
	#primaryNavTabs a span, #productExtrasHeaders a span	{
		float:none;
	}
	
	#primaryNavTabsline	{
		clear:both;
		padding:15px 10px 0 15px;
		margin:0 10px;
		height: 40px;
		line-height: 8px;
	}
	
	#primaryNavTabsline input	{
		/*text-align:center;
		padding:1px;*/
	}
	
	#productExtrasHeaders a:hover	{
		text-decoration:none;
	}
	
	#productExtrasHeadersline	{
		clear: both;
		padding: 0;
		width: 100%;
		height: 8px;
		line-height: 8px;
	}