@charset "utf-8";
@import url(buttons.css);

/* html elements
==============================================================================*/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: 85%/150% Verdana, Helvetica, sans-serif;
	color: #222;
	background: #000;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

/* Layout Elements
==============================================================================*/
#container {
	width: 1020px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background-image: url(/images/style/page_bg.gif);
	background-repeat: repeat-y;
}

/* Header
==============================================================================*/
#header {
	padding: 0;
	margin: 0 10px;
}
#logo {
	float: left;
	padding: 5px 0px 0px 5px;
	margin: 0px 0px;
}
#headerlinks {
	float: right;
	/*width: 235px;*/
	height: 25px;
	padding: 3px 10px 3px 10px;
	margin: 3px 10px;
	text-align: right;
	font-weight: bold;
	font-size: 80%;
	color: #350;
	background: #D2D1D1 url(/images/style/box_bottom.gif) no-repeat bottom right;
}
#headerLinks a:link, 
#headerlinks a:visited {
	color: #350;
}
#headerLinks a:hover {
	color: #64991e;
}

/* BreadCrumbs
==============================================================================*/
#breadCrumb {
	padding: 3px;
	margin-bottom: 10px;
	font-size: 75%;
	color: #777;
	border-top: 1px #ccc dashed;
	border-bottom: 1px #ccc dashed;
}
#breadCrumb ul {
	margin-left: 3px;
	padding-left: 0;
	display: inline;
	border: none;
}
#breadCrumb ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}

/* PrimaryNav
==============================================================================*/
#horizontalNav {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
#primaryNav {
	margin: 0px 0px;
	padding: 0px;
}
/* PrimaryNavTabs
==============================================================================*/
#primaryNavTabs, 
#productExtrasHeaders {
	padding: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	background: transparent;
	font: normal 12px Verdana, Arial, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#primaryNavTabs {
	margin-right: 3px;
	float: right;
}
#productExtrasHeaders {
	margin-left: 1px;
	width: 100%;
	padding-left: 5px;
}
#primaryNavTabs ul, 
#productExtrasHeaders ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
#primaryNavTabs li, 
#productExtrasHeaders li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform: uppercase;
}
#primaryNavTabs a, 
#productExtrasHeaders a {
	float: left;
	margin: 0 2px 0 0;
	padding: 0 0 1px 3px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FFF;
	background: #360 url(/images/style/color_tabs_left.gif) no-repeat left top;
}
#primaryNavTabs a span, 
#productExtrasHeaders a span {
	float: left;
	display: block;
	padding: 4px 9px 2px 6px;
	background: transparent url(/images/style/color_tabs_right.gif) no-repeat right top;
	color: #FFF;
}
/*#primaryNavTabs a span, 
#productExtrasHeaders a span {
	float: none;
}*/
#primaryNavTabs a:hover {
	background-color: #64991e;
}
#primaryNavTabs a:hover span {
	background-color: #64991e;
}
#primaryNavTabs #pnt-current a, 
#primaryNavTabs #pnt-current span {
	background-color: #690;
}



#primaryNavTabsline {
	clear: both;
	padding: 10px 10px 0 12px;
	margin: 0 10px;
	height: 30px;
	line-height: 8px;
	
	color: #e8f0de;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
#primaryNavTabsline input {
	/*text-align: center;
	padding: 1px;*/
}
.searchstring {
	width: 180px;
}


/* Pages
==============================================================================*/
#pageContainer { 
	padding: 0 10px 0 10px;
	margin: 0 5px;
}
#pageContainer a {
	text-decoration: none;
	color: #1773BC;
}
#pageContainer a:hover {
	text-decoration: underline;
	color: #64991e;
}




#pageContent-A, #pageContent-B {
	width: 780px;
	/*border: 1px #ccc solid;*/
	color: #777;
}
#pageContent-A h3, #pageContent-B h3 {
	color: #997;
}
#pageContent-A {
	float: right;
}
#pageContent-B {
	float: left;
}
#pageContent-Full {
	width: 960px;
}
#pageContent-3Col {
	width: 550px;
}







#column-A, #column-B {
	width: 385px;
	margin: 0;
	padding: 0px;
}
#column-A {
	float: left;
}
#column-B {
	float: right;
}


.myaccount {
	padding: 5px;
	cursor: pointer;
	background-color: #fafafa;
	border: 1px #ccc dashed;
}





/* CategoryNav
==============================================================================*/
#categoryNavContainer-A, #categoryNavContainer-B {
	width: 200px;
	padding: 0;
	margin: 0;
	background-color: #CCA;
}
#categoryNavContainer-A {
	float: left;
}
#categoryNavContainer-B {
	float: right;
}
#categoryNavContainer-A .first, #categoryNavContainer-B .first {
	background: #996 url(/images/style/box_top.gif) no-repeat top left;
	color: #FFF;
	font-size: 14px;
	padding: 5px 7px;
}
#categoryNavContainer-A .last, #categoryNavContainer-B .last {
	background: #996 url(/images/style/box_bottom.gif) no-repeat bottom left;
	color: #FFF;
	font-size: 14px;
	padding: 5px 7px;
}



#categoryNavContent {
	padding: 0;
	margin: 0;
}
#categoryNavContent h1 {
	margin-top: 10px;
	padding: 5px 5px 5px 10px; 
	font: bold 1.0em Verdana, Helvetica, sans-serif;
	color: #460;
}
#categoryNavContent h1 a {
	text-decoration: none;
	color: #460;
}
#categoryNavContent h1 a:hover {	
	color: #1773BC;
}
#categoryNavContent h3 {
	margin-top: 10px;
	padding: 5px 5px 5px 10px; 
	font: bold 1.0em Verdana, Helvetica, sans-serif;
	color: #460;
}
#categoryNavContent ul.categories {
	list-style: none;
	text-align: left;
	margin: 2px 4px 4px 0;
	padding: 0;
	font: 0.8em Verdana, Helvetica, sans-serif;
	text-decoration: none;
	background: url(/images/style/dots.jpg) repeat-x left top;
}
#categoryNavContent ul.categories li {
	list-style: none;
	padding: 2px 0 4px 15px;
	margin: 0 2px;
	color: #460;
	background: url(/images/style/dots.jpg) repeat-x left bottom;
}
* html body #categoryNavContent ul.categories li {
	height: 1%;
}
#categoryNavContent ul.categories li a {
	text-decoration: none;	
	background-image: none;	
	color: #777;
}
#categoryNavContent ul.categories li a:hover {	
	color: #1773BC;
}






/* Footer & Copyright
==============================================================================*/
#footer {
	margin: 0px auto; /* centers the page */
	width: 1020px;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url(/images/style/page_footer.gif);
}
#copyright {
	margin: 0px auto; /* centers the page */
	width: 1020px;
	font-size: 75%;
}
#copyright ul {
	display: inline;
}
#copyright li, #copyright li a {
	display: inline;
	list-style: none;
	padding: 0 5px 0 0;
}
#copyright li a {
	border-right: 1px #ccc solid;
}
#copyright a {
	text-decoration: none;
	color: #1773BC;
}
#copyright a:hover {
	text-decoration: underline;
	color: #64991e;
}


























/* Pagination
==============================================================================*/
#pagination {
	padding: 4px 2px 4px 7px;
	border: 1px solid #ddd;
	margin: 0 0 1.5em;
	background: #f2f2f2;
	color: #666;
}
#pagination p {
	position: relative;
	text-align: right;
}
#pagination p a:link, #pagination p a:visited, #pagination p a:hover, #pagination p a:active {
	padding: 2px 5px;
	text-decoration: none;
	background: #fff;
	border: 1px solid #ccc;
}
#pagination p a:hover {
	background: #F27028;
	color: #fff;
}
#pagination p span {
	padding: 2px 5px;
	text-decoration: none;
	border: 1px solid #ccc;
	background: #fff;
	color: #ccc;
}
#pagination * {
	margin: 0;
}
#pagination h4 {
	margin-top: -1.45em;
	padding: 0;
	border: none;
}




/* Misc
==============================================================================*/
.clear {
	clear: both;
}
img {
	border: 0;
}
img.left {
	float: left;
	margin: 3px 10px 10px 0;
}
img.right {
	float: right;
	margin: 3px 0 10px 7px;
}
.cfErrorMsg {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}
.smallFont {
	font-size: 80%;
}
.snip {
	border: 1px dashed #ccc;
}
.divider {
	border: 2px solid #997;
}
.cfErrorMsg {
	background-color: #ffeaef;
	border: 1px solid #F27028;
}






/* Forms
==============================================================================*/
#formContainer {
	margin: 0 0 0px;
	padding: 0px;
	font-size: 96%;
	font-family: Arial, Helvetica, sans-serif;
}
#formContainer input {
	margin: 2px 0;
}
#formContainer fieldset {
	border: none;
}
#formContainer label {
	padding: 5px 2px;
}
#formContainer label br {
	clear: left;
}
.loopForms {
 	width: 50%;
	float: left;
}

/* FORMS : formWrap1
==============================================================================*/
.formWrap1 {
	padding: 0px 10px;
	margin: 0px 0px;
	position: relative;
	background: #f5f5f5 url("images/featurebox_bg.gif") no-repeat 100% 100%;
	border-top: 1px solid #d9d9d9;
}
.formWrap1 h3 {
	margin: 0px 0px 5px 0px;
	padding: 3px 0px 3px 5px;
	font: bold 155% arial;
	color: #F27028;
}
.formWrap1 fieldset {
	margin: 0;
}
.formWrap1 label {
	clear: left;
	float: left;
	width: 100%;
	border-top: 1px solid #fff;
}
/* hide from IE mac \*/
.formWrap1 label {float: none}
/* end hiding from IE5 mac */
.formWrap1 label input, 
.formWrap1 label textarea, 
.formWrap1 label select {
	width: 15em;
	float: left;
	margin-left: 0;
}
.formWrap1 label b {
	float: left;
	width: 10em;
	line-height: 1.7;
	display: block;
	position: relative;
}
.formWrap1 label b .req {
	position: absolute;
	top: .1em;
	line-height: 1;
	left: -.4em;
	width: .3em;
	height: .3em;
	font-size: 150%;
	font-weight: normal;
	color: #F27028;
}
.formWrap1 label select {
	width: 15.5em;
}
.formWrap1 label textarea.f-comments {
	width: 20em;
}
.formWrap1 fieldset.f-checkbox-wrap, 
.formWrap1 fieldset.f-radio-wrap {
	clear: left;
	float: left;
	width: 32em;
	border: none;
	margin: 0;
	padding-bottom: .7em;
}
.formWrap1 fieldset.f-checkbox-wrap b, 
.formWrap1 fieldset.f-radio-wrap b {
	float: left;
	width: 8em;
	line-height: 1.7;
	display: block;
	position: relative;
	padding-top: .3em;
}
.formWrap1 fieldset.f-checkbox-wrap fieldset, 
.formWrap1 fieldset.f-radio-wrap fieldset {
	float: left;
	width: 13em;
	margin: 3px 0 0 10px;
}
.formWrap1 fieldset.f-checkbox-wrap label, 
.formWrap1 fieldset.f-radio-wrap label {
	float: left;
	width: 13em;
	border: none;
	margin: 0;
	padding: 2px 0;
	margin-right: -3px;
}
.formWrap1 label input.f-checkbox, 
.formWrap1 label input.f-radio {
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
}
.formWrap1 label span.errormsg {
	position: absolute;
	top: 0;
	right: -10em;
	left: auto;
	display: block;
	width: 16em;
}
.formWrap1 label span.errormsg b {
	padding: 10px 0;
	margin: 0 10px 0 30px;
	font-weight: bold;
	display: block;
	width: auto;
	float: none;
	line-height: 1.3;
	color: #B30800;
}
.formWrap1 div.req {
	position: absolute;
	top: .4em;
	right: .4em;
	left: auto;
	width: 13em;
	text-align: right;
	color: #777;
	font-size: 96%;
	font-weight: normal;
}
.formWrap1 div.req b {
	font-size: 140%;
	color: #F27028;
}
.formWrap1 div.f-submit-wrap {
	padding: 0px;
	text-align: center;
}
.formWrap1 input.f-submit {
	margin: 0px;
}










/* GRADIENTS IN IE AND FF 
==============================================================================*/
.grad img {
 height: 100%;
 left: 0px;
 position: absolute;
 top: 0px;
 width: 100%;
 z-index: 0;
}
.box {
 border: solid #BBBBBB 0px;
 margin: 0px;
 position: relative;
}
.box * {
 margin: 0px 0px;
 position: relative;
 z-index: 1;
}
* html .grad {
 filter: progid: DXImageTransform.Microsoft.AlphaImageLoader (src='images/style/grad_white_sm.png', sizingMethod='scale');
}
* html .grad img {
 display: none;
}
* html .box {
 position: static;
}
.blue { 
 background-color: blue; 
}
.green { 
 background-color: green; 
}
.pink { 
 background-color: pink;
}
/*========================================================================================
END FILE */